* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;

    min-height: 100vh;
    display: grid;
    align-content: center;
}

main .container {
    width: 100%;
    height: 100vh;
}

#btn {
    display: block;
}